﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Site</title>

    <!--jQuery 331-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!--Bootstrap 337-->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <!--Bootstrap DatePicker-->
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>

    <!--AngularJS 175-->
    <script src="~/lib/angular/angular.js"></script>

    <!--AngularJS Dropdown MultiSelect-->
    <script src="~/lib/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js"></script>

    <!--AngularJS Bootstrap-->
    <script src="~/lib/angular/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <!--Bootbox-->
    <script src="~/lib/bootbox/bootbox.js"></script>

    <!--Estilo Personalizado-->
    <!-- <link href="~/css/StyleSheet.css" rel="stylesheet" /> -->
    <link href="~/css/Progress.css" rel="stylesheet" />
    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Site</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Listado">Listado</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Site</p>
        </footer>
    </div>

    @* Loading overlay *@
    <div class="loading">
    </div>
</body>
</html>
