﻿@{
    ViewData["Title"] = "Listado";
}

<h2>@ViewData["Title"]</h2>

<script src="~/js/app/Listado/Controller.js"></script>
<script src="~/js/app/Listado/Services.js"></script>

<div ng-app="myApp" ng-controller="listadoController">
    <input type="text" ng-model="nombreBuscar" placeholder="Buscador por nombre" />
    <button type="button" class="btn btn-success" ng-click="buscador(listado)">Buscar</button>
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>FOTO</th>
                    <th>APELLIDO</th>
                    <th>NOMBRE</th>
                    <th>TELEFONO</th>
                    <th>DIRECCION</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in filteredItems">
                    <td><img src="{{ i.picture.thumbnail }}"></td>
                    <td>{{ i.name.last }}</td>
                    <td>{{ i.name.first }}</td>
                    <td>{{ i.phone }}</td>
                    <td>{{ i.location.street }}</td>
                    <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Detalles" ng-click="cargarDetalle(i)">Detalles</button></td>
                </tr>
            </tbody>
        </table>

        <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
    </div>

    <!-- Modal -->
    <div id="Detalles" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Detalles del contacto: {{ detalle.name.title }} {{ detalle.name.last }} {{ detalle.name.first }}</h4>
                </div>
                <div class="modal-body">
                    {{ detalle }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>